* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--DarkBlue);
}

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --DarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);

}


.container {
    width: 1440px;
    height: 800px;
    margin-top: 60px;
    position: relative;
}

.container .title {
    height: 300px;
    width: 1440px;
    text-align: center;
    background-color: white;

}

.title-describtion {
    font-weight: 300;
}

.title .line2 {
    font-weight: bold;
}

.title-rest {
    font-weight: 200;
    margin-top: -13px;
}




.cards-container .head {
    font-weight: bold;
}

.cards-container .describtion {
    font-weight: 200;
}



.left-card,
.right-card,
.center-top-card,
.center-bottom-card {
    padding: 20px;
    width: 350px;
    height: 250px;
    background-color: white;
    margin: 20px;

    border-top: 4px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 3px 5px 15px 3px #8e8fa0;
}

.left-card img,
.right-card img,
.center-top-card img,
.center-bottom-card img {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


.left-card {
    position: absolute;
    left: 186px;
    top: 281px;
    border-color: var(--Cyan);
}

.center-top-card {
    position: absolute;
    left: 40%;
    top: 18%;
    border-color: var(--Red);
}

.center-bottom-card {
    position: absolute;
    left: 40%;
    top: 53%;
    border-color: var(--Orange);
}

.right-card {
    position: absolute;
    right: 84px;
    top: 35%;
    border-color: var(--Blue);
}

.attribution img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}


.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    right: 30px;
    font-weight: bold;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}